<div class="row">
    <div class="col-md-4">
        <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
        </h1>
        Email: <%= @user.email %><br/>
        <%= render 'request_form', user: @user unless current_user?(@user) || current_user.friend?(@user) %>
        <hr>

        <h2>Friends:</h2>
        <%= will_paginate @friends %>
        <ul class="users">
            <%= render @friends %>
        </ul>
        <%= will_paginate @friends %>

        <% if current_user?(@user) then %>
        <h2>Friend requests:</h2>
        <%= will_paginate @requests %>
        <ul class="users">
            <%= render partial: "request", object: @requests %>
        </ul>
        <%= will_paginate @requests %>
        <hr>
        <%= render 'posts/form' %>
        <% end %>
        
    </div>
    <div class="col-md-8">
    <h1>Posts Feed</h1>
    <%= render @user.post_feed %>
    </div>
</div>

