<div class="post">
    <div class="author">
        <%= post.author.name %> Posted -
    </div>
    <div class="content">
        <%= post.content %>
    </div>
    <div class="likes">
        <%= pluralize(post.likes.count, 'like') %>
    </div>
    <div class="like-button">
        <%= render partial: 'likes/like_form', locals: {post: post} %>
    </div>
    <%= render post.comments %>

    <div class="comment-form">
        <%= render partial: 'comments/form', locals: { post: post } %>
    </div>
    <hr>
</div>
