<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <%= link_to "Home", root_path %>
          <%= link_to "Users", users_path %>
        </div>
        <div class="col-md-6 text-right">
          <% if current_user then %>
            Signed in as <%= link_to current_user.email, user_path(current_user) %>. <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% end %>
        </div>
      </div>

      <% flash.each do |message_type, message| %>
        <% if message_type == "notice" then message_type = "success" end %>
        <% if message_type == "alert" then message_type = "danger" end %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <div class="row"><div class="col-md-12"><%= debug(params) if Rails.env.development? %></div></div>
    </div>
  </body>
</html>
